#s-card{
    transition: 0.3s;
    /* border: 1px solid gray; */
}

#s-card:hover{
    transform: scale(1.1);
    transition:  0.3s;
}

/* ScholarshipCard.css */
.line-clamp-4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Number of lines to show */
    -webkit-box-orient: vertical;
  }
  